 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
$w:900px;
$inactive_color: gray;
$active_color: orange;

@mixin box_stats{
  width:$w;
  margin-left:  auto;
  margin-right: auto;
  background-color:$inactive_color;

  display:block;
  float:left;
}
@mixin title{
    height: 60px;
    margin:0;
    padding-left:10px;
    display:block;
    font-family: 'Sarpanch', sans-serif;
    padding-top: 14px;
    }
// Custom Styles
body {

  .container{
    width:$w;
    height:300px;
    margin-top:10px;
    margin-left:  auto;
    margin-right: auto;
    overflow: hidden;
    background-color:none;
    /*border-raidus:15px;*/
      #no1{
        @include box_stats;
        }
      #no2{
        @include box_stats;
        }
      #no3{
        @include box_stats;
        }
  }
}

h2{
  @include title;
  color:white;


}
h2:hover{
  /*background-color:$active_color;
  transition:background-color 1.5s ease;*/
  color:$active_color;
}

p{
  padding:15px;
  height:120px;
  margin:0;
}

section{
  height:60px;
  width:$w;
  overflow:hidden;
  transition:height 1s ease;
  .box{
    p{
      height:120px;
    }
  }
}

.activeBox{
  width:$w;
  height:180px;
  margin-left:auto;
  margin-right:auto;
    h2, p{
    background-color:$active_color;
    transition:height 1s ease;
    transition:background-color 1.5s ease;
    color:$inactive_color;
    transition:color 1.5z ease;
  }
  h2:hover{
    color:$inactive_color;
  }
  .box{
    padding-bottom:10px;
  }
}
